body{
    background-color: #e0e0e0;
    font-family: Georgia,Serif;
    color:#f03030
}

span.bold{
    font-size: 20px;
}

img{
    height: 120px;
    width: 150px;

}

#pollock{
    border: 1px solid red;
    padding: 5px;
    float: right;
    margin-left: 10px;
}

.single{
    float: left;
    border: 1px solid red;
    padding: 5px;
    width: 150px;
    margin: 5px;
}

.info{
    border-width: 1px;
    float: left;
}

.container{
    display: inline-block;
}

.poz{
    text-align: center;
}

#ital{
    font-style : italic;
}