h3{
    color:blue;
    font-size: 16px;
}

th{
    color: blue;
    font-size: 14px;
    background-color : #B0E0E6

}

body{
    font-family: Tahoma;
    font-size: 10px;
}

tr:nth-child(odd){
    background-color: #C8C8C8;
}

tr:nth-child(even){
    background-color: #E8E8E8;
}

input{
    font-family: Arial;
}

tr{
    font-size: 12px;
}